[submodule "vendor/workflow"]
	path = vendor/workflow
	url = https://github.com/sogou/workflow.git
[submodule "vendor/gstreamer"]
	path = vendor/gstreamer
	url = https://github.com/GStreamer/gstreamer.git
[submodule "vendor/gflags"]
	path = vendor/gflags
	url = https://github.com/gflags/gflags.git
[submodule "vendor/glog"]
	path = vendor/glog
	url = https://github.com/google/glog.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
